.body {
    background-color: rgb(255, 248, 254);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .artworks-wrapper {
    width: 50%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .artwork-item {
    
    margin: 10px;
    text-align: center;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .artwork-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .header {
    justify-content: center;
        background-color: #fde8f2;
        border: 5px solid transparent; 
        padding: 20px;
        text-align: center; 
        margin-bottom: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

  }

  .artwork-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
}

.load-more-button {
    display: block; 
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fed6e9;
    border: 2px solid transparent;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .load-more-button:hover {
    background-color: #f99dac; 
    border-color: #f99dac;
  }
  
  .load-more-button:active {
    transform: scale(0.95);
  }
.search-bar {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #ddd;
  margin-right: 10px;
  font-size: 16px;

}
.search-bar:focus {
  border-color: #aaa;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.search-button:hover {
  background-color: #fcb8d2;
  transition: background-color 0.3s ease;
}

.individual-artwork-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.individual-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  height: 80vh;
}

.artwork-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}