.body {
    background-color: rgb(255, 248, 254);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
  }
  

 .loading-message {
  text-align: center;
  display: block; 
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 15px;
 } 
.no-results-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation bar */
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
  }
  
  .nav .link {
    color: black; 
    text-decoration: none; 
    margin: 0 15px; 
    font-size: 16px;
    font-weight: bold;
  }
  
  .nav .link:hover {
    color: #7607a2; 
  }
  
  .nav .link.active {
    color: #85087c; 
    border-bottom: 2px solid #85087c; 
  }
/* HomePage */
.home-page-container {
  margin-top: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 60%; 
  margin: 0 auto; 
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .content-box {
  background: #f8e6ef;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
  width: 100%;
  }

 .home-page-list {
  text-align: left;
  width: 100%; 
  padding-left: 0;
  list-style: none;
 }

 .home-page-list li {
    margin-bottom: 10px;
  }
  
  
  .artworks-wrapper {
    width: 50%;

  }
 
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
  }
  
  .artwork-item {
    margin: 10px;
    text-align: center;
    max-width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
  }

  .artwork-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .header {
    justify-content: center;
    background-color: #fde8f2;
    border: 5px solid transparent; 
    padding: 20px;
    text-align: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

  }

.search-container {
  text-align: center;
  position: relative;
  }
  
.search-button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.search-input  {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #fed6e9;
}
  .artwork-item {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 10px; 
}


.load-more-button {
    display: block; 
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fed6e9;
    border: 2px solid transparent;
    border-radius: 15px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .load-more-button:hover {
    background-color: #f99dac; 
    border-color: #f99dac;
  }
  
.load-more-button:active {
    transform: scale(0.95);
  }
.search-bar {
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #ddd;
  margin-right: 10px;
  font-size: 16px;

}
.search-bar:focus {
  border-color: #aaa;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.search-button:hover {
  background-color: #fcb8d2;
  transition: background-color 0.3s ease;
}

.search-results-header {
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
/* ArtworkDetail.css */
.individual-artwork-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.individual-artwork-container h1 {
  font-size: 28px;
  color: #000;
  margin-bottom: 10px;
}

.individual-artwork-container p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.individual-image-container {
  margin-bottom: 20px;
}

.artwork-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.exhibition-box {
  margin-top: 20px;
}

.select-exhibition-dropdown {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fed6e9;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.select-exhibition-dropdown:focus {
  outline: none;
  border-color: #fcc6d9;
}

.add-to-exhibition-button, .remove-from-exhibition-button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px
}


.add-to-exhibition-button:hover {
  background-color: #fcc6d9;
}

.add-to-exhibition-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* ArtworkCard */
.artwork-card {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 10px;
}

.artwork-card-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.artwork-card-text h5 {
  margin: 10px 0 5px 0;
  font-size: 18px;
}

.artwork-card-text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.artwork-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
 /* Filters */
.filters-container {
  position: fixed;
  right: 5%;
  top: 22%;
  padding: 10px;
  background-color: #fde8f2;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  z-index: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 1024px) {
  .filters-container {
    position: relative; 
    right: auto; 
    right: auto;
    left: auto;
    width: 90%;
    max-width: 300px;
    margin: 20px auto;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .filters-container {
    width: 80%; 
    max-width: 250px;
    padding: 0px;
  }
}
.filter-header h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.source-dropdown {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-checkbox {
  margin-bottom: 10px;
  margin-left: 10px;

}

.filter-checkbox label {
  font-size: 14px;
  margin-right: 4px;
  
}
/* Exhibition */
.add-to-exhibition-button {
  padding: "5px 10px";
  background-color: "#fed6e9";
  border: "none";
  border-radius: "4px";
  cursor: "pointer";
  margin-left: "10px";
}

.select-exhibition-dropdown {
  padding: "5px";
  font-size: "16px";
}

.exhibition-box {
  margin-top: "20px";
}

/* ExhibitionList */
.exhibition-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.exhibition-list h2 {
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.exhibition-list input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fed6e9;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  max-width: 100%;
}

.exhibition-list button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exhibition-list button:hover {
  background-color: #fcc6d9;
}

.exhibition-list ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.exhibition-list ul li {
  margin: 15px 0;
  padding: 10px 0;
  border-bottom: 2px solid #fed6e9; 
}
.exhibition-list ul li:last-child {
  border-bottom: none;
}

.exhibition-list ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  transition: color 0.3s ease;
  display: block; 
  padding: 10px 0;
}

.exhibition-list ul li a:hover {
  color: #fcc6d9;
}

.exhibition-list p {
  font-size: 18px;
  color: #666;
}

.exhibition-link {
  text-align: center;
}

/* ExhibitionDetails */
.exhibition-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

}

.exhibition-details h2 {
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
}

.exhibition-details .artworks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.exhibition-details p {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
  text-align: center;
}

.no-artworks-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px 30px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 10px 20px;
  background-color: #fed6e9;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
 margin-bottom: 10px;
 margin-right: 5px;
 margin-left: 5px;
}


.pagination-button:hover {
  background-color: #fcc6d9;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.page-number {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}